/* Reset some default styles */
body,
h1,
h2,
h3,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

/* Basic styling for the page */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    padding: 20px;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

main {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.write {
    margin: 1% 0;
}

.write a {
    color: red;
    text-decoration: none;
}

a {
    color: lightslategrey;
}
th {

    background-color: lightyellow;
}

.star {
    color: orange;
}

.ageStatus {
    margin-top: 2%;
}